@font-face { font-family: Inika, Arial, sans-serif; src: url(fonts/Inika-Regular.ttf);}
:root{
    --header-text:Inika;
    --black:rgba(35, 31, 32, 1);
    --white:rgba(247, 242, 234, 1);
    --red: rgba(187, 68, 48, 1);
    --orange: rgba(252, 176, 126, 1);
    --yellow: rgba(237, 235, 160, 1);
    --teal: rgba(126, 189, 194, 1);
}
body {
    float: none;
    margin: 0;
    padding: 0;
    background-color: var(--orange);
    align-self: center;
}
p {
    padding: 10px;
    margin: 0;
    text-align: center;
    align-content: center;
}

header{     
    background-color: var(--red);
    background: url(Vengess-empire-planet.webp), var(--red) no-repeat center;
    position: relative;
    justify-content:center;

}
header h1{
    font-size: xx-large;
    color: var(--white);
    padding: 2%;
    margin: 0;
    text-align: center;
}

nav{
    background-color: var(--red);
    color: var(--white);
    display:flex;
    justify-content:space-around;
    overflow: hidden;
    font-size:2vw;
    width: 100%;
}
nav a{
    color: var(--white);

}
a{
    list-style-type: none;
    text-decoration: none;
    color: black;
}

a :active{
    list-style-type: none;
    text-decoration: none;
    color: black;
}

a :hover{
    color: var(--orange);
}
main{
    align-self: center;
    margin:auto ;
    width: 55%;
    display: block;
    justify-content: center;
    text-align: center;
    padding: 10px;
}


article{
    border-top: 2px;
    border-bottom: 2px;
    border-color: var(--black);
}

footer{
    display: inline-block;
    width: 100%;
    background-color: var(--black);
    color: var(--white);
}



input[type=text], select, textarea, input[type=email] {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid var(--white); /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  input[type=submit] {
    background-color: var(--teal);
    color: var(--white);
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: var(--white);
    color: var(--black);
  }
  

  .container {
    border-radius: 5px;
    background-color: var(--black);
    color: var(--white);
    padding: 20px;
    margin:auto ;
  }